body {
    background-color: #b1cc74;
    height: 100%;
}

nav,
.card-header,
.dodaj,
.rezervisi,
#btn-izracunaj {
    background-color: #545f66 !important;
    color: #d0f4ea;
}
.table .thead-dark th {
    background-color: #545f66 !important;
    color: #d0f4ea;
}

.nav-link,
.btn-secondary {
    color: #d0f4ea !important;
}

.card-body,
.pozadina {
    background-color: #d0f4ea !important;
}

table,
th,
td {
    border: 1px solid black;
}
.izbrisi,
.pregledaj {
    background-color: #e8fcc2;
}
.izbrisi:hover,
.pregledaj:hover {
    background-color: #d0f4ea;
}

.container .overlay.show {
    height: 100%;
}

/* 
 * Container za sliku qr koda
 */
.okvir {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.otvorena {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 2px solid #fff;
}

.otvorena img {
    max-width: 100%;
    min-width: 100%;
}

.slikaLink {
    float: right;
}
